#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

#Node Modules
client/node_modules
server/node_modules
client/.angular
server/out/*
server/out/app.js.map
server/out/app.js
server/out/controllers/database.controller.js
