<div class="container">
  <div class="form">
    <mat-form-field>
      <input matInput placeholder="Doctor id" [(ngModel)]="doctor.id" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]="doctor.firstName" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]="doctor.lastName" />
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Specialization"
        [(value)]="doctor.specialization"
      >
        <mat-option [(value)]="doctor.specialization">{{
          doctor.specialization
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Years of Experience"
        [(ngModel)]="doctor.yoe"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Service ID"
        [(value)]="this.servicesId[0]"
        [(ngModel)]="doctor.serviceId"
      >
        <mat-option *ngFor="let service of servicesId" [value]="service">{{
          service
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button (click)="onSubmit()">Ajouter le Médecin</button>
  </div>
</div>
