<!-- <div class="container" #doctorForm>
  <mat-form-field>
    <input matInput type="text" name="id" [(ngModel)]="doctor.id" />
  </mat-form-field>

  <mat-form-field>
    <input matInput name="firstName" [(ngModel)]="doctor.firstName" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" name="lastName" [(ngModel)]="doctor.lastName" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" name="field" [(ngModel)]="doctor.field" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" name="yoe" [(ngModel)]="doctor.yoe" />
  </mat-form-field>

  <mat-form-field>
    <mat-option value="option"> List</mat-option>
  </mat-form-field>

  <button matInput type="submit">Login</button>
</div> -->

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Doctor id" [(ngModel)]="doctor.id" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="First Name" [(ngModel)]="doctor.firstName" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" [(ngModel)]="doctor.lastName" />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Specialization" [(value)]="this.defaultField">
      <mat-option [(value)]="this.defaultField">this.defaultField</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Years of Experience"
      [(ngModel)]="doctor.yoe"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Service ID" [(value)]="this.defaultServiceId">
      <mat-option [(value)]="this.defaultServiceId">{{
        this.defaultServiceId
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
