<div class="container">
  <div class="form">
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="ID du Médecin"
        [(ngModel)]="doctor.idmedecin"
      />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Prénom" [(ngModel)]="doctor.prenom" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Nom de Famille"
        [(ngModel)]="doctor.nom"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Spécialization"
        [(value)]="doctor.specialite"
      >
        <mat-option
          *ngFor="let specialization of specializations"
          [value]="specialization"
          >{{ specialization }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Années d'Expérience"
        [(ngModel)]="doctor.anneesexperience"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="ID du Service" [(ngModel)]="doctor.service">
        <mat-option *ngFor="let service of servicesId" [value]="service">{{
          service
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-button
      [disabled]="
        !this.doctor.idmedecin ||
        !this.doctor.prenom ||
        !this.doctor.nom ||
        this.doctor.anneesexperience.toString() === ''
      "
      (click)="onSubmit()"
    >
      Ajouter Médecin
    </button>
  </div>
</div>
