<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil"
      >INF3710 - TP4</a
    >
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/doctor">Médecins</a>
        <a class="nav-item nav-link active" routerLink="/insert">Ajout</a>
        <a class="nav-item nav-link active" routerLink="/modification"
          >Modification</a
        >
        <a class="nav-item nav-link active" routerLink="/suppression"
          >Suppression</a
        >
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>


