<h1>Liste des médecins</h1>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="idmedecin">
      <mat-header-cell *matHeaderCellDef> ID du Médecin </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.idmedecin }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <mat-header-cell *matHeaderCellDef> Prénom </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.prenom }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> Nom de Famille </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.nom }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="specialite">
      <mat-header-cell *matHeaderCellDef> Spécialisation </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.specialite }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="anneesexperience">
      <mat-header-cell *matHeaderCellDef> Années d'Expérience </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.anneesexperience }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="idservice">
      <mat-header-cell *matHeaderCellDef> ID du Service </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.idservice }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
